<section class="content">
    <div ng-if="error" id="error" class="alert alert-danger alert-white rounded">
        <div class="icon">
            <i class="fa fa-times-circle"></i>
        </div>
        <strong>Error</strong>
        <div>
            {{errorMsg}}
        </div>
    </div>
    <div ng-if="success" id="success" class="alert alert-success alert-white rounded">
        <div class="icon">
            <i class="fa fa-check-circle"></i>
        </div>
        <strong>Success</strong>
        <div>
            {{successMsg}}
        </div>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <label>Min Cost:</label>
            <input type="text" class="form-control" placeholder="Enter Max Budget" name="Min" ng-model="filter.min">
        </div>
        <div class="form-group">
            <label>Max Cost:</label>
            <input type="text" class="form-control" placeholder="Enter Min Budget" name="Max" ng-model="filter.max">
        </div>
        <div class="form-group">
            <label for="type">Choose a bus type:</label>

            <select name="type" ng-model="filter.type">
                <option value="AC">AC</option>
                <option value="NON-AC">NON-AC</option>
            </select>
        </div>
        <div class="form-group">
            <label for="meeting-time">Choose a time and date to see buses available at that time:</label>
            <input type="datetime-local" min ="{{dates.slice(0,16)}}"  ng-model="filter.time" >
            
        </div>
        <button class="btn btn-default" ng-click="filters(filter)">Submit</button>
    </form>
    <div class="card mb-0 pb-0">
        <div class="standard-table-header">
            <div class="standard-table-filter border-bottom-0">
                <div class="row">
                    <div class="col-md-9"> </div>
                    <div class="col-md-3 mt-2 mt-md-0 text-right">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="page.searchBox" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon2">

                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="card-body-padded" ng-show="success0">
        <div class="table-container">
            <table class="table table-padded">
                <thead>
                    <tr>
                        <th>Bus Name</th>
                        <th>Departure Point</th>
                        <th>Arriving Point</th>
                        <th>Starting Time</th>
                        <th>Arriving Time</th>
                        <th>Cost</th>
                        <th>Bus type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter:page.searchBox | orderBy : 'departureTime'">
                        
                        <td data-title="Name">{{user.name}}</td>
                        <td data-title="Name">{{user.dep_city}}</td>
                        <td data-title="Name">{{user.arr_city}}</td>
                        <td data-title="deptime">{{user.departureTime | date :"short"}}</td>
                        <td data-title="arrtime">{{user.arrivalTime | date:"short"}}</td>
                        <td data-title="cost">{{user.cost | currency:"₹"}}</td>
                        <td data-title="Type">{{user.type}}</td>
                        <td data-title="Action" class="action-btn px-0">
                            <a class="btn btn-danger rounded-0 py-0" href="javascript:void(0)" ng-click="book(user)">
                                <i class="fas fa-trash-alt mr-1"></i> BOOK
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body-padded" ng-show="success1">
        <div class="table-container">
            <table class="table table-padded">
                <thead>
                    <tr>
                        <th>Bus Name</th>
                        <th>Departure Point</th>
                        <th>Arriving Point</th>
                        <th>Starting Time</th>
                        <th>Arriving Time</th>
                        <th>Cost</th>
                        <th>Bus type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dta in data">
                        <td data-title="Name">{{dta.name}}</td>
                        <td data-title="Name">{{dta.dep_city}}</td>
                        <td data-title="Name">{{dta.arr_city}}</td>
                        <td data-title="deptime">{{dta.departureTime | date :"short"}}</td>
                        <td data-title="arrtime">{{dta.arrivalTime | date:"short"}}</td>
                        <td data-title="cost">{{dta.cost | currency:"₹"}}</td>
                        <td data-title="Type">{{dta.type}}</td>
                        <td data-title="Action" class="action-btn px-0">
                            <a class="btn btn-danger rounded-0 py-0" href="javascript:void(0)" ng-click="book(dta)">
                                <i class="fas fa-trash-alt mr-1"></i> BOOK
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>