<section class="content">
    <div ng-if="error" id="error" class="alert alert-danger alert-white rounded">
        <div class="icon">
            <i class="fa fa-times-circle"></i>
        </div>
        <strong>Error</strong>
        <div>
            {{errorMsg}}
        </div>
    </div>
    <div ng-if="success" id="success" class="alert alert-success alert-white rounded">
        <div class="icon">
            <i class="fa fa-check-circle"></i>
        </div>
        <strong>Success</strong>
        <div>
            {{successMsg}}
        </div>
    </div>
    <div class="card mb-0 pb-0">
        <div class="standard-table-header">
            <div class="standard-table-filter border-bottom-0">
                <div class="row">
                    <div class="col-md-9"> </div>
                    <div class="col-md-3 mt-2 mt-md-0 text-right">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="page.searchBox" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body-padded">
            <div class="table-container">
                <table class="table table-padded">
                    <thead>
                        <tr>
                            <th>Bus Name</th>
                            <th>Departure Point</th>
                            <th>Arriving Point</th>
                            <th>Starting Time</th>
                            <th>Arriving Time</th>
                            <th>Cost</th>
                            <th>Bus type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | filter:page.searchBox | orderBy : 'departureTime'" >
                          
                            <td data-title="Name">{{user.name}}</td>
                            <td data-title="Name">{{user.dep_city}}</td>
                            <td data-title="Name">{{user.arr_city}}</td>
                            <td data-title="deptime">{{user.departureTime | date :"short"}}</td>
                            <td data-title="arrtime">{{user.arrivalTime | date:"short"}}</td>
                            <td data-title="cost">{{user.cost | currency:"₹"}}</td>
                            <td data-title="Type">{{user.type}}</td>
                            <td data-title="Action" class="action-btn px-0">
                                <a class="btn btn-danger rounded-0 py-0" href="javascript:void(0)" ng-click="book(user)">
                                    <i class="fas fa-trash-alt mr-1"></i> BOOK
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="users" class="standard-table-footer">
            <div class="row">
                <div class="col-sm-4">
                    <select class="per-page" ng-model="page.pageSize" ng-init="page.pageSize='5'" id="page.pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>per page</span>
                </div>
            </div>
        </div>
    </div>
</section>